# Bloqueia todo acesso direto ao diretório de storage.
# (Compatível com Apache 2.2 e 2.4)
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
    Order deny,allow
    Deny from all
</IfModule>
